.container{
    display: flex;
    justify-content: space-between;
    z-index: 0;
}

.about-container{
    margin: 4% 0 0 4%;
}

.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.colorful{
    color: #00AEC7;
}

.info{
    margin: 62px 10px 0px;
    .text{
        max-width: 600px;
        margin-right: 10%;
    }

    .title{
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.text{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 22.4px;
    font-weight: 400;
}

.img{
    display: flex;
    justify-content: flex-start;
}

.vacancies{
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 10px rgba(0, 58, 64, 0.2);
    border-radius: 30px;
    width: 80%;
    margin: -250px auto 250px;
    z-index: 1;
    position: relative;
    padding: 23px;
    a{
        line-height: 50px;
        text-decoration: none;
        color: white;
        border: 1px solid #00AEC7;
        background: #00AEC7;
        border-radius: 20px;
        padding: 0px 43px;
    }
}

#secondblock{
    display: block;
}



.vacancies{
    a:active{
        background-color: white;
        border: 1px dashed #00AEC7;
        color: #00AEC7;
    }
}




.features{
    display: flex;
    justify-content: space-between;
    margin: -100px 0 100px;
    .card{
        display: flex;
        flex-direction: column;
        padding: 40px;
        background: #FFFFFF;
        border: 1px solid rgba(136, 140, 140, 0.4);
        transition: all 0.5s ease-in-out;
        border-radius: 30px;
        width: 18%;
        .title{
            line-height: 26px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .text{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
}

.card:hover{
    background-color: #00AEC7;
    color: white;
}



.mb{
    display: none;
}

.slider-container{
    border-radius: 30px;
    margin-bottom: 150px;
}

.slide-img{
    width: 100%;
}


.employee{
    display: flex;
    justify-content: space-around;
    margin: 150px 200px;
    .title{
        line-height: 33px;
    }
    span{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        display: block;
        margin-bottom: 20px;
    }
    .text{
        max-width: 600px;
    }
}


@media(max-width: 1024px){
    .container{
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        img{
            width: 100%;
        }
    }

    .text{
        font-size: 14px;
    }

    .about-container, .info{
        .img{
            justify-content: flex-start;
        }
        margin: 35px 10px 0px;
    }

    .vacancies{
        text-align: center;
        flex-direction: column;
        padding: 15px;
        margin: auto;
        .title{
            font-size: 16px;
        }

        a{
            width: 50%;
            line-height: 22.4px;
            padding: 10px;
            margin: auto;
        }
    }

    #logo{
        width: 50%;
        height: 50%;
    }

    .employee{
        flex-direction: column;
        margin: 10px;
        .title{
            font-size: 24px;
            font-weight: 700;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 33px;
        }
        span{
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            display: block;
            margin-bottom: 20px;
        }
        .text{
            font-size: 14px;
            line-height: 21px;
        }
    }

    .features{
        margin-top: 50px;
        .card{
            width: 100%;
            height: 312px;
            .text{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .slider-container{
        margin-bottom: 50px;
    }

    .mb{
        display: block;
    }

    .pc{
        display: none;
    }
}